<h1 class="h3 mb-3 font-weight-normal text-center">User profile</h1>
<hr>
<div style="margin-bottom: 15px;" class="row">
    <span class="col text-start">
        <span class="float-start">Email address:</span>
        <span class="float-end">
            {{ user.email }}
        </span>
    </span>
</div>
<div style="margin-bottom: 15px;" class="row">
    <span class="col text-start">
        <span class="float-start">Name:</span>
        <span class="float-end">
            {% if user.first_name %}
                {{ user.first_name }}
            {% else %}
                -
            {% endif %}
        </span>
    </span>
</div>

<div style="margin-bottom: 15px;" class="row">
    <span class="col text-start">
        <span class="float-start">Username:</span>
        <span class="float-end">
            {{ user.username }}
        </span>
    </span>
</div>
<div style="margin-bottom: 15px;" class="row">
    <span class="col text-start">
        <span class="float-start">Cars number:</span>
        <span class="float-end">
            {{ cars_number }}
        </span>
    </span>
</div>
<div style="margin-bottom: 15px;" class="row">
    <span class="col text-start">
        <span class="float-start">Register date:</span>
        <span class="float-end">
            {{ user.date_joined }}
        </span>
    </span>
</div>