<div id="workshops_list" class="overflow-auto workshop-list" style="max-height: 400px;" data-url="{% url 'load_workshops_list_url' %}">
    <div class="list-group w-auto">
        {% for workshop in workshops %}
            <button class="btn btn-light show-workshop-details set-modal-redirect" style="margin-bottom: 5px;" data-bs-toggle="modal" data-bs-target="#workshop_details_modal" data-url="{% url 'workshop_details_url' workshop_id=workshop.id %}">
                <div class="row">
                    <span class="col text-start">
                        {% if workshop.favourite %}
                            <i class="bi bi-star-fill"></i>
                        {% else %}
                            <i class="bi bi-star"></i>
                        {% endif %}
                        {{ workshop.name }}
                    </span>
                    <span class="col text-center">
                        tel.
                        {{ workshop.phone_number|slice:"0:3" }}
                        {{ workshop.phone_number|slice:"3:6" }}
                        {{ workshop.phone_number|slice:"6:9" }}
                    </span>
                    <span class="col text-end">{{ workshop.address }}, {{ workshop.city }}</span>
                </div>
            </button>
        {% endfor %}                            
    </div>
</div>