{% for field, label, icon, unit in workshop.get_display_fields %}
    <div style="margin-bottom: 15px;" class="row">
        <span class="col text-start">
            <span class="float-start"><i class="bi bi-{{ icon }}"></i> {{ label }}:</span>
            <span class="float-end">
                {% if field %}
                    {{ field }}
                {% else %}
                    -
                {% endif %}
                {% if unit %}
                    {{ unit }}
                {% endif %}
            </span>
        </span>
    </div>
{% endfor %}