<div class="tab-pane fade" id="last-month" role="tabpanel" aria-labelledby="last-month-tab">
    <div id="last_month_report" style="margin-left: 25px; margin-top: 25px;" class="container">
            {% include 'include/month_report_content.html' with report=last_month_report only %}
    </div>
</div>
<div class="tab-pane fade show active" id="this-month" role="tabpanel" aria-labelledby="this-month-tab">
    <div id="new_month_report" style="margin-left: 25px; margin-top: 25px;" class="container">
        {% include 'include/month_report_content.html' with report=this_month_report only %}
    </div>
</div>
