<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title float-start" id="reminder_details_modal_label">Reminder details</h5>
        <button type="button" class="btn btn-sm btn-danger delete-reminder float-end" data-url="{% url 'delete_reminder_url' reminder_id=reminder.id %}" data-confirmed="false" data-bs-toggle="popover" data-bs-html="true" data-bs-title="Are you sure?">
            <i class="bi bi-trash"></i>
        </button>
    </div>
    <div id="reminder_details_modal_content" class="modal-body">
        {% include 'include/object_data.html' with object=reminder only %}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>