{% load crispy_forms_tags %}

<!-- Cars list modal -->
<div class="modal fade" id="cars_list_modal" tabindex="-1" role="dialog" aria-labelledby="cars_list_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="cars_list_modal_label">Your cars</h5>
        </div>
        <div class="modal-body">
            <div id="favourite_car_error_box" class="alert alert-danger" role="alert" style="display: none;"></div>
            <ul class="list-group container">
                {% for car in cars %}
                    <li class="list-group-item container border {% if viewed_car.id == car.id %} border-info {% endif %}" style="margin-bottom: 5px;">
                        <div class="row">
                            <div class="col-4">
                                {{ car.make }} {{ car.model }}
                            </div>
                            <div class="col-4">
                                {{ car.num_plate }}
                            </div>
                            <div class="col-4">
                                <form id="favourite_car_form_{{ car.id }}" method="POST">
                                    <input name="car_id" value="{{ car.id }}" type="hidden">
                                {% if car.favourite %}
                                    <button class="btn btn-sm btn-primary car-toggle-favourite favourite-car float-end" data-car-id="{{ car.id }}" data-url="{% url 'toggle_favourite_car_url' %}"><i class="bi bi-star-fill"></i></button>
                                {% else %}
                                    <button class="btn btn-sm btn-primary car-toggle-favourite float-end" data-car-id="{{ car.id }}" data-url="{% url 'toggle_favourite_car_url' %}"><i class="bi bi-star"></i></button>
                                {% endif %}
                                {% csrf_token %}
                                </form>
                                <a class="btn btn-sm btn-dark float-end" href="{% url 'home_page' car_id=car.id %}" style="margin-right: 15px;">View</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}                    
                </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success add-new-car" data-bs-toggle="modal" data-bs-target="#new_car_modal">Add new car +</button>
        </div>
    </div>
    </div>
</div>

<!-- New car modal -->
<div class="modal fade" id="new_car_modal" tabindex="-1" role="dialog" aria-labelledby="new_car_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="new_car_modal_label">New car</h5>
        </div>
        <form id="new_car_form" action="{% url 'add_new_car' %}" method="POST">
            <div class="modal-body">
                <div id="new_car_submit_info" class="alert alert-danger" role="alert" style="display: none;"></div>
                {% csrf_token %}
                {{ new_car_form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cars_list_modal">Go back</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
    </div>
</div>

<!-- Car details modal -->
<div class="modal fade" id="car_details_modal" tabindex="-1" role="dialog" aria-labelledby="car_details_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title float-start" id="car_details_modal_label">Car details</h5>
                <button type="submit" class="btn btn-sm btn-danger float-end" data-bs-toggle="modal" data-bs-target="#confirm_car_delete_modal"><i class="bi bi-trash"></i></button>
            </div>
            <div class="modal-body">
                {% include 'include/cars/car_data.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success edit-car-details" data-bs-toggle="modal" data-bs-target="#edit_car_modal">Edit</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm car delete -->
<div class="modal fade" id="confirm_car_delete_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_car_delete_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm_car_delete_modal_label">Confirm car deletion</h5>
            </div>
            <div class="modal-body">
                Are you sure you?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#car_details_modal">Cancel</button>
                <form method="POST" action="{% url 'delete_car' %}">
                    <input name="car_id" value="{{ viewed_car.id }}" type="hidden">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit car modal -->
<div class="modal fade" id="edit_car_modal" tabindex="-1" role="dialog" aria-labelledby="edit_car_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="edit_car_modal_label">Edit car data</h5>
        </div>
        <form id="edit_car_form" action="{% url 'edit_car' %}" method="POST">
            <div class="modal-body">
                <div id="edit_car_submit_info" class="alert alert-danger" role="alert" style="display: none;"></div>
                {% csrf_token %}
                <input name="car_id" value="{{ viewed_car.id }}" type="hidden">
                {{ edit_car_form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#car_details_modal">Go back</button>
                <button type="submit" class="btn btn-success" data-url="{% url 'edit_car' %}">Save</button>
            </div>
        </form>
    </div>
    </div>
</div>

<!-- Workshops list modal -->
<div class="modal fade" id="workshops_list_modal" tabindex="-1" role="dialog" aria-labelledby="workshop_list_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="workshop_list_modal_label">Your saved workshops</h5>
        </div>
        <div class="modal-body">
            <div id="workshops_list_messages_box" style="margin-top: 15px;"></div>
            {% include 'include/workshops/modal_workshops_list.html' %}
        </div>
        <div class="modal-footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-outline-dark float-start" data-bs-toggle="collapse" data-bs-target="#filter_options" aria-expanded="false" aria-controls="filter_options">Filter options</button>
                    </div>
                    <div class="col-8">
                        <span class="float-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success new-workshop-embedded set-modal-redirect" data-bs-target="#new_workshop_modal" data-bs-toggle="modal">Add new workshop +</button>    
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="filter_options">
            <div class="card card-body container">
                <form>
                    <div class="row">
                        <div class="col-3 text-start">
                            <select id="workshop_filter_category" class="form-select filter-input">
                                <option value="name">Name</option>
                                <option value="city">City</option>
                                <option value="address">Address</option>
                                <option value="phone_num">Phone number</option>
                                <option value="profession">Profession</option>
                            </select>
                        </div>
                        <div class="col-3 text-start">
                            <input id="workshop_filter_phrase" style="margin-left: 5px;" class="form-control filter-input" type="text" placeholder="Enter phrase to filter by">
                        </div>
                        <div class="col-2 text-start">
                            <button type="submit" class="btn btn-outline-dark apply-workshop-filter">Apply filters</button>
                        </div>
                        <div class="col-4 text-end">
                            <button type="button" class="btn btn-outline-dark reset-workshop-filter">Reset filters</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Workshop details modal -->
<div class="modal fade" id="workshop_details_modal" tabindex="-1" role="dialog" aria-labelledby="workshop_details_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="workshop_details_modal_content" class="modal-content"></div>
    </div>
</div>

<!-- New workshop modal -->
<div class="modal fade" id="new_workshop_modal" tabindex="-1" role="dialog" aria-labelledby="new_workshop_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="new_workshop_modal_label">New workshop</h5>
        </div>
        <form id="new_workshop_form" method="POST">
            <div class="modal-body">
                    <div id="new_workshop_submit_info" class="alert alert-danger" role="alert" style="display: none;"></div>
                    {% csrf_token %}
                    {{ new_workshop_form|crispy }}
            </div>
            <div class="modal-footer">
                <button id="new_workshop_close_modal_button" type="button" class="btn btn-secondary close-new-workshop-modal" data-bs-target="#workshops_list_modal" data-bs-toggle="modal">Go back</button>
                <button type="button" class="btn btn-success save-new-workshop" data-url="{% url 'add_new_workshop_url' %}">Save</button>
            </div>
        </form>
    </div>
    </div>
</div>

<!-- Entry details modal -->
<div class="modal fade" id="entry_details_modal" tabindex="-1" role="dialog" aria-labelledby="entry_details_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="entry_details_modal_content" class="modal-content"></div>
    </div>
</div>

<!-- New entry modal -->
<div class="modal fade" id="new_entry_modal" tabindex="-1" role="dialog" aria-labelledby="new_entry_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="new_entry_modal_label">New entry</h5>
        </div>
        <form id="new_entry_form" method="POST">
            <div class="modal-body">
                <div id="new_entry_submit_info" class="alert alert-danger" role="alert" style="display: none;"></div>
                {% csrf_token %}
                {{ new_entry_form|crispy }}
                <input name="car_id" value="{{ viewed_car.id }}" type="hidden">
            </div>
            <div class="modal-footer">
                <button id="new_entry_close_modal_button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-new-entry" data-url="{% url 'add_new_entry_url' %}">Save</button>
            </div>
        </form>
    </div>
    </div>
</div>

<!-- New reminder modal -->
<div class="modal fade" id="new_reminder_modal" tabindex="-1" role="dialog" aria-labelledby="new_reminder_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="new_reminder_modal_label">New reminder</h5>
        </div>
        <form id="new_reminder_form" method="POST">
            <div class="modal-body">
                <div id="new_reminder_submit_info" class="alert alert-danger" role="alert" style="display: none;"></div>
                {% csrf_token %}
                {{ new_reminder_form|crispy }}
                <input name="car_id" value="{{ viewed_car.id }}" type="hidden">
            </div>
            <div class="modal-footer">
                <button id="new_reminder_close_modal_button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-new-reminder" data-url="{% url 'add_new_reminder_url' %}">Save</button>
            </div>
        </form>
    </div>
    </div>
</div>

<!-- Reminder details modal -->
<div class="modal fade" id="reminder_details_modal" tabindex="-1" role="dialog" aria-labelledby="reminder_details_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title float-start" id="reminder_details_modal_label">Reminder details</h5>
                <button type="submit" class="btn btn-sm btn-danger float-end"><i class="bi bi-trash"></i></button>
            </div>
            <div id="reminder_details_modal_content" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>