{% extends "base.html" %}

{% block body %}
    <div style="margin-top: 150px;" class="container">
        <div class="col"></div>
        <div class="col">
            <h1 class="text-center">This is CarHub! 🚘</h1>
            <p style="margin-top: 20px;" class="text-center">
                CarHub is a web application designed to provide easy to
                use tool for keeping track on all costs related to vehicle exploatation. <br>
                It's features allow user to create multiple vehicles profiles, add entries with service and refueling details and information about <br>
                visited workshops. Application also provides monthly reports about the incurred costs. <br>
            </p>
            <div style="margin-top: 100px;" class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col text-center">Contact info:</div>
                    <div class="col"></div>
                </div>
                <div style="margin-top: 20px;" class="row">
                    <div class="col text-center"><b><i class="bi bi-github"></i> GitHub:</b><br> <a href="https://github.com/KamSaf">https://github.com/KamSaf</a></div>
                    <div class="col text-center"><b><i class="bi bi-linkedin"></i> LinkedIn:</b><br> <a href="https://www.linkedin.com/in/kamil-safaryjski-429929294/">https://www.linkedin.com/in/kamil-safaryjski-429929294/</a></div>
                    <div class="col text-center"><b><i class="bi bi-envelope-fill"></i> Email:</b><br> <a href="mailto: kamil.safaryjski@gmail.com">kamil.safaryjski@gmail.com</a></div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}