{% extends "base.html" %}

{% block body %}
    {% if no_data %}
        {% include 'include/no_data.html' %}
    {% else %}
        <div class="shadow bg-body rounded card">
            <div class="card-body row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if graph_name == 'mileage' %} active {% endif %}" type="button" role="tab" href="{% url 'render_graphs' car_id=car.id graph='mileage' %}">Mileage</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if graph_name == 'expenses' %} active {% endif %}" type="button" role="tab" href="{% url 'render_graphs' car_id=car.id graph='expenses' %}">Monthly expenses</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if graph_name == 'fuel_economy' %} active {% endif %}" type="button" role="tab" href="{% url 'render_graphs' car_id=car.id graph='fuel_economy' %}">Fuel economy</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" role="tabpanel">{{ graph|safe }}</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}