{% extends "base.html" %}

{% block body %}
    <div style="margin-top: 150px;" class="container">
        <div class="col"></div>
        <div class="col">
            <h1 class="text-center">Welcome to CarHub 🚘!</h1>
            <p style="margin-top: 20px;" class="text-center">
                CarHub is a web application designed to provide easy to
                use tool for keeping track on all costs related to vehicle exploatation.
            </p>
            <p style="margin-top: 20px;" class="text-center">
                <a href="#">Join now</a> and improve the control over your finances 💸!
            </p>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}