{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block javascripts %}
    {{ block.super }}
        <script src="{% static '/javascript/profile.js' %}" type="text/javascript"></script> 
{% endblock %}

{% block title %}User profile{% endblock %}

{% block body %}
	<div id="data_edit_success" class="alert alert-success" role="alert" style="display: none;">Account data edited!</div>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div style="margin-top: 25px;" class="col shadow bg-body rounded card">
				<div class="card-body">
					<div id="user_data" data-refresh-url="{% url 'refresh_user_data_url' %}">
						{% include 'include/users/user_data.html' %}
					</div>
					<span>
						<button class="btn btn-sm btn-outline-info edit-profile-button" data-bs-toggle="modal" data-bs-target="#edit_profile_modal">Edit</button>
						<button class="btn btn-danger btn-sm float-end delete-profile-button" data-bs-toggle="modal" data-bs-target="#confirm_delete_modal">Delete account</button>
					</span>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>

	<div class="modal fade" id="confirm_delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="delete_modal_label">Confirm deleting</h5>
				</div>
				<div class="modal-body">
					Are you sure you?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<form method="POST" action="{% url 'delete_user_url' %}">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_profile_modal" tabindex="-1" role="dialog" aria-labelledby="edit_profile_modal_label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="edit_profile_modal_label">Edit profile</h5>
				</div>
				<div class="modal-body">
					<form method="POST">
						<div id="submit_info" class="alert alert-danger" role="alert" style="display: none;"></div>
						{% csrf_token %}
						{{ form|crispy }}
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary clear-errors" data-bs-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-success save-edit-profile clear-errors">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}