{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}User profile{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div style="margin-top: 25px;" class="col shadow bg-body rounded card">
				<div id="user_data" class="card-body">
					{% include 'include/users/user_data.html' %}
				</div>

			</div>
			<div class="col"></div>
		</div>
	</div>

	<div class="modal fade" id="confirm_delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="delete_modal_label">Confirm deleting</h5>
				</div>
				<div class="modal-body">
					Are you sure you?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger confirm-delete-profile-button" data-user-id="{{ app.user.id }}" data-bs-dismiss="modal" id="confirm_delete_profile_button">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_profile_modal" tabindex="-1" role="dialog" aria-labelledby="edit_profile_modal_label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="edit_profile_modal_label">Edit profile</h5>
				</div>
				<div class="modal-body">
					<div id="submit-info" class="alert" role="alert" style="display: none;">
						submit info
					</div>
					<small class="text-muted">Leave empty field if you don't want to change it</small>

					<div style="margin-top: 15px; margin-bottom: 15px;" class="row">
						<span class="col text-start">
							<span class="float-start"></span>
							<span class="float-end">
							</span>
						</span>
					</div>
					<div style="margin-bottom: 15px;" class="row">
						<span class="col text-start">
							<span class="float-start"></span>
							<span class="float-end">
							</span>
						</span>
					</div>
					<div style="margin-bottom: 15px;" class="row">
						<span class="col text-start">
							<span class="float-start"></span>
							<span class="float-end">
							</span>
						</span>
					</div>
					<div style="margin-bottom: 15px;" class="row">
						<span class="col text-start">
							<span class="float-start"></span>
							<span class="float-end">
							</span>
						</span>
					</div>
					<div style="margin-bottom: 15px;" class="row">
						<span class="col text-start">
							<span class="float-start"></span>
							<span class="float-end">
							</span>
						</span>
					</div>
					<div style="margin-top: 50px;" class="row">
						<span class="col text-start">
							<span class="float-start"></span>
							<span class="float-end">
							</span>
						</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success save-edit-profile-button" data-user-id="{{ app.user.id }}" id="save_edit_profile">Save</button>
				</div>

			</div>
		</div>
	</div>
{% endblock %}